---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

$fa-font-path: "../node_modules/font-awesome/fonts/";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #7BBC53;

@mixin border-trace() {
  border: 1px solid #333;
}

/* any style customization must be before the bootstrap import */
@import "bootstrap";
@import "font-awesome";

.icon-user {
  @extend .fa;
  @extend .fa-user;
}

@mixin shadow() {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

// GENERAL
body {
	font-family: 'Open Sans', sans-serif;
	background: url('/images/global/bg.png');
}

i.fa, .link {
	color: #E6B90D;
}

#header {
	// nav-top
	.nav-top {
		// background: $brand-color;
		height: 10px;
	}
	// nav
	nav {
		border: 0px;
		background: rgba(255, 255, 255, .8);
		@media only screen and (max-width: 766px) {
			background: #fff;
		}
		border-radius: 0px;
		@include shadow();
		.navbar-brand {
			background: #fff;
			margin-top: -15px;
			min-height: 160px;
			position: absolute;
			color: #333;
			@include shadow();

			&.small {
				min-height: 70px;
				margin-left: 30px;
			}
		}
		.navbar-nav {
			li {
				a {
					padding: 20px 30px;
					text-transform: uppercase;
					color: #333;
				}
				a:hover {
					background: $brand-color;
					color: #fff;
				}

				&.active {
					a {
						background: $brand-color;
						color: #fff;
					}
				}
			}
		}
	}
}

#content {
	// CONTENT GLOBAL STYLE
	.gg-header {
		text-transform: uppercase;
		color: #fff;
		font-size: 20px;
		padding: 5px 10px;
		background: $brand-color;
		margin: 10px 0;

		i.fa {
			color: #fff;
		}
	}
	.sub-pages-header {
		color: $brand-color;
		font-size: 30px;
		text-transform: uppercase;
		span {
			border-bottom: 2px solid $brand-color;
		}
	}
	.desc {
		line-height: 24px;
		&.main-content {
			font-size: 16px;
		}
		&.sub-content {
			font-size: 12px;
		}
	}

	.break-img {
		background: url('/images/hp-img1.jpg') no-repeat center center fixed;
		height: 200px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	// BANNER
	.banner {
		background: url('/images/banner.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 600px;
		margin-top: -90px;
		z-index: -999;
		border-bottom: 5px solid rgba(146,192,58, .7);
		
		.banner--call-to-action {
			padding-top: 200px;
			.header {
				margin: 30px;
				color: #fff;
			}
			.cta-btn {
				padding: 10px;
				text-transform: uppercase;
				font-weight: bold;
				background: none;
				border: 3px solid #fff;
				color: #fff;
			}
		}

		&.subpage {
			min-height: 230px;
			position: relative;
			.title {
				background: rgba(146,192,58, .7);
				position: absolute;
				bottom: 0px;
				text-transform: uppercase;
				color: #fff;
				padding: 5px 30px;
				font-size: 24px;
				z-index: 999;
			}
		}
	}

	.index-content {
		#carousel {
			margin-top: -200px;
		}
		.why-choose-gg, .testimonials-events {
			padding: 50px 0;
		}
	}

	.about-content {
		padding-top: 50px;
		padding-bottom: 50px;
		.who-we-are, .vision, .mission, .meet-the-team {
			margin: 50px 0;
		}

		.vision, .meet-the-team {
			text-align: right;
		}
	}

	.solar-energy-products-services-content, .power-grid-services-content {
		padding-top: 30px;
		padding-bottom: 50px;
		.page-header {
			border-bottom: 1px solid #aeaeae;
			color: $brand-color;
			text-transform: uppercase;
		}
	}

	.contact-content {
		padding-top: 50px;
		padding-bottom: 50px;
		#submit .fa {
			color: #fff;
		}
		address .fa {
			color: $brand-color;
		}
	}

	.what-we-do-content {
		padding-top: 20px;
		padding-bottom: 50px;
		.power-grid, .solar-energy {
			position: relative;
			height: 700px;
			.content {
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 20px;
				color: #fff;
				.title {
					background: #333;
					padding: 10px;
					min-height: 80px;
					h3 {
						text-transform: uppercase;
					}
				}
				.desc {
					background: #eaeaea;
					max-height: 50px;
					padding: 10px;
					width: 80%;
					p {
						line-height: 18px;
						color: #333;
					}
				}
				.button {
					padding: 10px 30px;
					border: 5px solid #fff;
					color: #fff;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		.power-grid {
			background: url('/images/sample/sample1.jpg') no-repeat center top; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		.solar-energy {
			background: url('/images/sample/sample2.jpg') no-repeat center top; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	}
}

#footer {
	i.fa {
		color: $brand-color;
	}
	.footer-one {
		background: url('/images/global/footer-one.png');
		min-height: 100px;
		padding: 10px;
		.content {
			padding: 10px 0;
			.title, .desc, .contacts {
				margin: 10px 0;
			}
			.title {
				font-weight: bold;
			}
			.desc {
				font-size: 12px;
				line-height: 18px;
				color: #333;
			}
			.contacts {
				font-size: 12px;
				color: #333;
			}
		}
	}
	.footer-two {
		background: url('/images/global/footer-two.png');
		min-height: 40px;
		.nav li {
			a {
				color: #fff;
			}
			a:hover {
				color: $brand-color;
				background: none;
			}
		}
	}
}




.card {
  @include shadow();
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
  max-height: 240px;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  font-size: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
  min-height: 130px;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
  min-height: 400px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.red{
	color:red;
}
.form-area {
	background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
}

.carousel {
	@include shadow();
}

.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left i.fa {
	padding: 15px;
}

.carousel-control.right i.fa {
	padding: 15px;
}

.carousel-control .fa-chevron-left, 
.carousel-control .fa-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .fa-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .fa-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left i.fa,
.carousel-control.right i.fa {
	background-color: #000;
}

.carousel-control.left i.fa:hover,
.carousel-control.right i.fa:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    // top: 20%;
    bottom: 0;
    left: 0;
    // left: 1.8%;
    // right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: $brand-color;
	padding: 10px;
}

.header-text h5 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}