
<div id="footer">
  <div class="footer-one">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a class="navbar-brand text-center" href="#"><img src="{{ site.baseurl }}/images/greengen.png" alt="" width="250px" class="img-responsive"></a>
        </div>
        <div class="col-sm-9 content">
          <div class="title">
            ABOUT GREENGEN 
          </div>
          <div class="desc">
            Our company is focused on providing well designed both grid tied and off-grid solar systems that are made of high quality materials to residential, commercial, non-profit and government institutions. Our full service includes monitoring, design, installation and integration of solar systems, which will be executed by our highly experienced engineering team. We want everyone to experience the benefits of the efficient use of clean energy such as reduced carbon footprint and lower electricity bill. Moreover, our company also aims to provide electricity especially to our fellow Filipinos living in the remote areas of The Philippines.
          </div>
          <div class="contacts">
            <div class="address col-sm-4"><i class="fa fa-home" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
            <div class="number col-sm-4"><i class="fa fa-phone" aria-hidden="true"></i><i class="fa fa-phone" aria-hidden="true"></i> 4561234</div>
            <div class="email col-sm-4"><i class="fa fa-envelope" aria-hidden="true"></i> info@greengeninc.com.ph</div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="footer-two">
    <div class="container">
      <div class="row">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/"></i>Home</a>
          </li>
          <li>
            <a href="/about">About us</a>
          </li>
          <li>
            <a href="/products-services">Products & Services</a>
          </li>
          <li>
            <a href="/contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- <footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer> -->
<script src="{{ site.baseurl }}/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
