
<div id="footer">
  <div class="footer-one">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a class="navbar-brand text-center" href="#"><img src="{{ site.baseurl }}/images/greengen.png" alt="" width="250px" class="img-responsive"></a>
        </div>
        <div class="col-sm-9 content">
          <div class="title">
            ABOUT GREENGEN 
          </div>
          <div class="desc">
            Our company is focused on providing well designed both grid tied and off-grid solar systems that are made of high quality materials to residential, commercial, non-profit and government institutions. Our full service includes monitoring, design, installation and integration of solar systems, which will be executed by our highly experienced engineering team. We want everyone to experience the benefits of the efficient use of clean energy such as reduced carbon footprint and lower electricity bill. Moreover, our company also aims to provide electricity especially to our fellow Filipinos living in the remote areas of The Philippines.
          </div>
          <div class="contacts">
            <div class="address col-sm-4">
              <i class="fa fa-home" aria-hidden="true"></i> Room 405, 4/F The Gregorian Building 2178 Taft Avenue, Malate, Manila, Philippines
            </div>
            <div class="number col-sm-2">
              <i class="fa fa-phone" aria-hidden="true"></i> (02) 522 1181
            </div>
            <div class="email col-sm-4">
              <i class="fa fa-envelope" aria-hidden="true"></i> info@greengeninc.com.ph
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="footer-two">
    <div class="container">
      <div class="row">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/"></i>Home</a>
          </li>
          <li>
            <a href="/about">About us</a>
          </li>
          <li>
            <a href="/products-services">Products & Services</a>
          </li>
          <li>
            <a href="/contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
